<!DOCTYPE html>
<html>
<head>
    <title>SOLAR</title>
    <link rel="shortcut icon" href="images/logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <h1>SOLAR</h1>
    <ul>
        <li><a href="/find_student">Find a student by Student ID</a></li>
        <li><a href="/add_student">Add a new student to the database</a></li>
        <li><a href="/add_grade">Add a new grade to the database</a></li>
    </ul>
    <figure>
        <center><img src="http://i.telegraph.co.uk/multimedia/archive/02500/coventry1_2500804b.jpg"></img></center>
    </figure>
</body>
</html>