<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Coventry University Student Union</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}">

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img id="logo" alt="Coventry University Student Union" src="{{ url_for('static', filename='images/logo.png') }}"/>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/">Home</a></li>       
            <li><a href="/aboutus">About Us</a></li>
            <li class="dropdown">
              <a class="active" href="#" class="dropdown-toggle" data-toggle="dropdown">Opportunities <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="active"><a href="/sports">Sports</a></li>
                <li><a href="/societies">Societies</a></li>
                <li><a href="/volunteering">Volunteering</a></li>
                <li><a href="/events">Events</a></li>
              </ul>
            </li>            
            <li><a href="/location">Location</a></li>
            <li><a href="/contactus">Contact Us</a></li>
            <li><a href="/home">SOLAR</a></li>
          </ul>
          <form method="get" action="http://www.google.com/search" class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" name="q" class="form-control" size="45px" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
        </div>
      </div>
    </div>
    
    <!---Jumbotron Header ----->
    <div class="container">
      <div class="jumbotron jumbotron-special1">
        <center><h1>Sports</h1></center>
      </div>
    </div>
    
    <!---YouTube Video----->
    <div class="container">
          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RI1icF0aZFI"></iframe>
          </div>
          <br>
      <p>The Sports Union is the proud home of 53 Sports Clubs!<br><br>
      The University of Stirling was awarded the title of Scottish University for Sporting Excellence in 2009.<br><br>
      With all the opportunities on offer we hope you can find a sport to get involved in. Please take time to explore our sport clubs here.<br><br>
      Not sure where to begin? Give us a bell.<br><br>
      To contact the Sports Union, please get in touch with the Union at: sports.union@stir.ac.uk or by calling 01786 467166.</p>
      <h3>Meetings</h3>
      <hr>
      <h4>Sports Zone Meetings</h4>
      <p>These meetings are essential for ensuring club committees are kept updated of new changes that affect them, but also to discuss relevant issues and upcoming events. This is also an opportunity for to question your elected representatives about what they are doing to make your lives better.<br><br>
      Attendance is compulsory for all clubs, so we ask that every club sends at least one committee member to each Sport Zone meeting.<br><br>
      New agendas will be added prior to the meetings taking place. See the 'What's On' section of the website for meeting dates. For more information or to put forward your own ideas to a zone meeting please email sports.union@stir.ac.uk</p>
      <h4>Presidents Forum</h4>
      <p>Presidents Forum will convene once a month, usually the week before Clubs Council. This is where presidents of all clubs meet together with the Sports Union President to discuss matters relevant to the Sports Union. 
      It’s a smaller meeting giving club presidents the chance to air their views on a variety of topics, in a closer environment, before they are taken to Clubs Council.
      </p>
      <h4>SU Executive Committee</h4>
      <p>This Committee looks at all Sports Union activity including policy, events, club activity, funding distribution and potential opportunities. Members meet once a month to discuss and take decisions relevant to activity of the Sports Union.
      </p>
      <h4>Sports Union AGM (Annual General Meeting)</h4>
      <p>This is the biggest meeting of the year for the Sports' Union. It takes place once a year, normally in late April, and it has several functions.<br><br>
      At this meeting the Sports Union President will present annual accounts to Sports Union members and sum up the achievements and challenges of the year. This is also where the Sports Union Executive officers are elected.</p>
    </div>
    
 <!---Footer---->
 <footer class="footer">
          <div class="container">
            <div class="col-sm-3">
              <p>Created by Ja'far Salami</p>
            </div>
          <div class="col-sm-3">
            <div class="foot-header">
              Connect with us
            </div>
            <div class="foot-links">
              <a href="https://twitter.com/cusu?lang=en-gb"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="https://www.facebook.com/CoventrySU/"><i class="fa fa-facebook-official fa-2x"></i></a>
              <a href="https://www.youtube.com/channel/UCW4PH3Cy_cfBgzb9MR0lgRQ"><i class="fa fa-youtube fa-2x"></i></a>
            </div>
          </div>
          <div class="col-sm-3">
           <div class="foot-header">
             Address
           </div>
           <div class="foot-links">
             <p id="address">Coventry University Student Union <br>
             1 Priory St, Coventry <br>
             West Midlands <br>
             CV1 5FB <br></p>
             <a href="location.html">Map & Directions</a>
           </div>
         </div>
         <div class="col-sm-3">
           <div class="foot-header">
             Useful links
           </div>
           <div class="foot-links">
             <a href="http://www.coventry.ac.uk/">Coventry University</a><br>
             <a href="www.nus.org.uk/">National Union of Students</a><br>
             <a href="https://www.myunidays.com/">UNiDAYS</a>
           </div>
         </div>
        </footer>
    <!-- Bootstrap core JavaScript
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>