<html>
<head>
    <title>SOLAR</title>
    <link rel="shortcut icon" href="images/logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
<h1>Student: {{last_name}}, {{first_name}}</h1>
<h2>Student ID: {{github}}</h2>
<h3>Grades</h3>
<table border="1">
    <tr>
        <th>Overall</th>
        <th>Grade</th>
    </tr> 
    {% for item in projects %}
    <tr>
        <td><a href="/project?title={{item[0]}}">{{item[0]}}</a></td>
        <td>{{item[1]}}</td>
    </tr>
    {% endfor %}
</table>
<p>THE BEST STUDENT</p>
</body>
</html>