<html>
<head>
    <title>SOLAR</title>
    <link rel="shortcut icon" href="images/logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
<h1>Student:{{first_name}} {{last_name}}</h1>
<h2>Student ID: {{github}}</h2>
<h3>Grades</h3>
<table border="1">
    <tr>
        <th>Overall</th>
        <th>Grade</th>
    </tr> 
    
    <tr>
        <td><a href="/project?title={{item[0]}}">{{item[0]}}</a></td>
        <td>{{item[1]}}</td>
    </tr>
    
</table>

</body>
</html>