<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Coventry University Student Union</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}">

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img id="logo" alt="Coventry University Student Union" src="{{ url_for('static', filename='images/logo.png') }}"/>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/">Home</a></li>       
            <li><a href="/aboutus">About Us</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Opportunities <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/sports">Sports</a></li>
                <li><a href="/societies">Societies</a></li>
                <li class="active"><a href="/volunteering">Volunteering</a></li>
                <li><a href="/events">Events</a></li>
              </ul>
            </li>            
            <li><a href="/location">Location</a></li>
            <li><a href="/contactus">Contact Us</a></li>
            <li><a href="/home">SOLAR</a></li>
          </ul>
          <form method="get" action="http://www.google.com/search" class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" name="q" class="form-control" size="45px" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
        </div>
      </div>
    </div>
    
    <!---Jumbotron Header ----->
    <div class="container">
      <div class="jumbotron jumbotron-special3">
        <center><h1 style="color:white">Volunteering</h1></center>
      </div>
    </div>
    
    <!---YouTube Video----->
    <div class="container">
          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UcYkgW_JxL0"></iframe>
          </div>
    </div>
      <div class="container soc-body">
        <center><h3>Volunteering in Coventry</h3></center>
        <p>We are the Volunteering & Employability Department and we are here to support Coventry University students and staff to secure rewarding volunteering placements within CUSU and the local community. Our varied volunteering opportunities enable us to offer a stimulating, enjoyable, and educational voluntary experience. Regardless of whether you have loads of spare time every week to fill up, or if you’re just looking at committing an hour or two, we will help you find something that suits your needs.<br><br>
        Volunteering within CUSU is growing and last year we had more than 1500 student volunteers expressing their interest in volunteering. From our side we managed to ensure numerous opportunities for our students, including offering voluntary placements within 130 different organisations across Coventry, Birmingham and Warwickshire. In 2014/2015 we had as many one-off events as ever before, where students could take part in a single volunteering action. Also, if you have your own idea for a volunteering project we can help you to make this a reality and impact upon the local community with our support, contacts, and advice.<br><br>
        Volunteering & Employability (V&E) department is located in The Hub, Room 1.49. Come along and become part of a great team!
        </p>
      </div>
      <div class="container">
        <center><h3>Meet The Volunteering Team</h3></center>
      </div>
      
      <div class="container" id="tourpackages-carousel">
      
      <div class="row">
        
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="{{ url_for('static', filename='images/team1.jpg') }}" alt="Adelaide">
              <div class="caption">
                <h4>Adelaide Barwood, 2nd year Food & Nutrition</h4>
                <p>Hi I am Adelaide and I am currently in my second year studying Food and Nutrition. I originally started volunteering in my first year as it was an easy way to gain experience needed for applying for placements in the second year.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="{{ url_for('static', filename='images/team2.jpg') }}" alt="Lore">
              <div class="caption">
                <h4>Loredana Straut, 2nd year Psychology</h4>
                <p>Hi there! My name is Lore and I am a second year Psychology student. As part of the Student Volunteering Team, my role is to create a stimulating environment for you to get inspired and start volunteering. Once you start, you cannot stop!</p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="{{ url_for('static', filename='images/team3.jpg') }}" alt="Cheryl">
              <div class="caption">
                <h4>Cheryl Chan, 3rd year Exercise, Nutrition & Health</h4>
                <p>Hi, this is Cheryl from Hong Kong! I’m a third year student, studying Exercise, Nutrition and Health. I love volunteering because giving is always better than receiving. A special sense of achievement will be gained.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="{{ url_for('static', filename='images/team4.jpg') }}" alt="Jennifer">
              <div class="caption">
                <h4>Jennifer Odok, MA Engineering Project Management</h4>
                <p>My name is Jennifer Odok, a Masters Degree Student of Engineering Project Management. I am your Volunteering & Employability Student Councillor. I love to give back to the community.</p>
            </div>
          </div>
        </div>
        
      </div><!-- End row -->
      
    </div><!-- End container -->
      
       <!---Footer---->
       <footer class="footer">
          <div class="container">
            <div class="col-sm-3">
              <p>Created by Ja'far Salami</p>
            </div>
          <div class="col-sm-3">
            <div class="foot-header">
              Connect with us
            </div>
            <div class="foot-links">
              <a href="https://twitter.com/cusu?lang=en-gb"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="https://www.facebook.com/CoventrySU/"><i class="fa fa-facebook-official fa-2x"></i></a>
              <a href="https://www.youtube.com/channel/UCW4PH3Cy_cfBgzb9MR0lgRQ"><i class="fa fa-youtube fa-2x"></i></a>
            </div>
          </div>
          <div class="col-sm-3">
           <div class="foot-header">
             Address
           </div>
           <div class="foot-links">
             <p id="address">Coventry University Student Union <br>
             1 Priory St, Coventry <br>
             West Midlands <br>
             CV1 5FB <br></p>
             <a href="location.html">Map & Directions</a>
           </div>
         </div>
         <div class="col-sm-3">
           <div class="foot-header">
             Useful links
           </div>
           <div class="foot-links">
             <a href="http://www.coventry.ac.uk/">Coventry University</a><br>
             <a href="www.nus.org.uk/">National Union of Students</a><br>
             <a href="https://www.myunidays.com/">UNiDAYS</a>
           </div>
         </div>
        </footer>
        
    <!-- Bootstrap core JavaScript
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>